* {
    box-sizing: border-box;
}

header {
    background-color: rgb(234, 208, 217);
    text-align: center;
}

body {
    background-color: lavenderblush;
    font-family: 'Calibri', sans-serif;
}

h1{
    color: rgb(6, 137, 137);
    font-size: 100px;
    text-align: center;

}

h2{
    color: rgb(164, 164, 248);
    font-size: 70px;
    text-align: left;
}

h3{
    color: rgb(168, 205, 241);
    font-size: 70px;
    font-family: 'Calibri', sans-serif;
    text-align: left;
}

/*Navation to profoilo pages*/
.navigation-bar {
    background-color: rgb(247, 235, 221);
    padding: 20px;
    font-family: 'sans-serif', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 15px;
}

/*Hero Image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    margin-bottom: 25px;
    background-image: url("./MainHeadShot.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 7px solid rgba(170, 227, 227, 0.5);
}

/*Navation Pages
#ABOUT {
    height: 100px;
    font-family: 'Calibri', sans-serif;
    grid-area: auto;
    margin: 10px 10px;
    box-sizing: border-box;
}

#PROJECTS {
    height: 100px;
    font-family: 'Calibri', sans-serif;
    grid-area: auto;
    margin: 10px 10px;
    box-sizing: border-box;
}

#JOKES {
    height: 100px;
    font-family: 'Calibri', sans-serif;
    grid-area: auto;
    margin: 10px 10px;
    box-sizing: border-box;

}*/
/* Add hover effect to the images */
.joke-image {
    transition: opacity 0.5s; /* Smooth transition effect */
  }
  
  .joke-image:hover {
    opacity: 0.5; /* Reduce opacity on hover */
  }

.container {
    width: 400px;
    height: 225px;
}
.about-card {
    flex: 1 1 20%;
}
.projects-card {
    flex: 1 1 20%;
};    
.jokes-card {
    flex: 1 1 20%;
};   
.contact-card {
    flex: 1 1 20%;
};   

/*.img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}*/

/*Contact*/
.footer {
    position: sticky;
    margin: 5px 10px auto;
    border: 7px solid rgb(155, 225, 225);
}
