* {
    box-sizing: border-box;
}

/*Navation to profoilo pages*/
.navigation-bar {
    background-color: rgb(247, 235, 221);
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/*Photo of me*/
.hero {
    height: 800px;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("MainHeadShot.JPG");
    background-size: cover;
    background-position: center;
}

.headshot {
    border: 1px solid;
    border-color: black;
    padding-inline: auto;
}

/*Navation Pages*/
#ABOUT {
    height: 300px;
    font-family: 'Calibri', sans-serif;
    background-color: lavender;
    color: #ffffff;
    grid-area: auto;
}

#PROJECTS {
    height: 300px;
    font-family: 'Calibri', sans-serif;
    background-color: peachpuff;
    color: #ffffff;
}

#JOKES {
    height: 300px;
    font-family: 'Calibri', sans-serif;
    background-color: rgb(246, 211, 226);


}
  
/*Conent sections*/
.card {
    border: 7px solid rgb(122, 171, 171);
    padding: 10px;
    flex: 1 1 20%;
    margin: 20px;
}

body {
    background-color: lavenderblush;
    font-family: 'Calibri', sans-serif;
}

header {
    background-color: rgb(234, 208, 217);
    text-align: center;
}


h1{
    color: rgb(6, 137, 137);
    font-size: 100px;
    text-align: center;

}

h2{
    color: lavender;
    font-size: 70px;
}

h3{
    color: rgb(168, 205, 241);
    font-size: 50px;
    text-align: left;
}

.img {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    background-color: rgb(231, 173, 153);
}

/*Contact*/
.footer {
    background-color: rgb(234, 208, 198);
}

