


.header {
    display: flex;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(251, 199, 199);
    color: #ffffff;
}

.hero {
    flex: 1 0 0;
    padding: 20px;
    display: relative;
    height: 600px;
    width: 75%;
    margin-bottom: 25px;
    background-image: url("MainHeadShot.JPG");
    background-size: cover;
    background-position: left;

}

.content {
    display: wrap;
    width: 70%;
    display: inline-block;
    margin-left: 20px;
}

.about {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Calibri', sans-serif;
    color: #ffffff;
}

.projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Calibri', sans-serif;
    color: #ffffff;
}

.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Calibri', sans-serif;
    color: #ffffff;
}


body {
    background-color: lavenderblush;
    color: black;

  }
  
  header {
    background-color:blanchedalmond;
  }
  section {
    background-color: lightyellow ;
  }
  .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}